/* CSS Document */

body {
	margin: 32px;
}

.btn-lg {
	margin-right: 16px;
	margin-top: 8px;
}

#prototype-here {
	background-color: hsla(240, 100%, 90%, .4);
	padding: 32px;
	min-height: 25vh;
}


.watermark{
	font-size: 1em;
	font-weight: bold;
	line-height: 32px;
	margin-bottom: 32px;
	color: hsla(240, 100%, 50%, .4);
	position: relative;
	text-transform:uppercase;
	height: 32px;
	z-index: -1;
	
}


#ui-reference img {
	width: calc(100vw - 64px);
	height: auto;
}

