/* CSS Document */

body {
	margin: 32px;
}

.btn-lg {
	margin-right: 16px;
	margin-top: 8px;
}

#prototype-here {
	background-color: hsla(240, 100%, 50%, .1);
	margin: 16px 0 32px 0;
	min-height: 25vh;
}


.watermark{
	font-size: 1em;
	font-weight: bold;
	line-height: 64px;
	color: hsla(240, 100%, 50%, .25);
	position: relative;
	text-transform:uppercase;
	margin: 32px;
	height: 64px;
	
}


#ui-reference img {
	width: calc(100vw - 64px);
	height: auto;
}

